.AccountPageContainer{
    display: grid;
    grid-template-columns: repeat(20,1fr);
    grid-template-rows: repeat(20,1fr);
    height: 100vh;
    padding-right: 1em;
}
.MyFavoritesContainer{
    grid-row: 2/10;
    grid-column: 6/21;
}
.WatchLaterContainer{
    grid-row: 11/19;
    grid-column: 6/21;
}