.UserPannel{
    height: 50%;
    width: 100%;
}
.UserPannel ul{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 100%;
    list-style: none;
    color: white;
    text-align: center;
}
.UserPannel ul li{
    cursor: pointer;
}
.UserPannel ul span:hover{
    color: tomato;
}
.GuestMessage{
    padding-top: 2em;
    color: tomato;
    text-align: center;
}

@media only screen and (min-width:320px){
    .UserPannel{
        padding-left: 0;
    }
    .UserPannel ul{
        flex-direction: row;
        font-size: 0.6em;
        margin-top: 2em;
    }
    .UserPannel ul li{
        text-decoration: underline;
    }
}
@media only screen and (min-width:1024px){
    .UserPannel ul{
        flex-direction: column;
        font-size: 1.5em;
        margin-top: 2em;
    }
    .UserPannel ul li{
        text-decoration: none;
    }
}