.LoginModuleContainer{
    grid-row: 4/10;
    grid-column: 9/13;
    display: flex;
    flex-direction: column;
    text-align: center;
    border: 1px solid whitesmoke;
    border-radius: 5px;
    background-color: rgba(35, 35, 35, 0.9);
}
.LoginModuleContainer *{
    margin-bottom: 0.2em;
}
.LoginModuleContainer h2{
    color: white;
}
.LoginModuleContainer p{
    color: tomato;
}
.LoginModuleContainer button{
    margin: auto;
    padding: 0.25em 0.50em;
    background-color: #4682b4;
    border-radius: 5px;
}

@media only screen and (min-width:320px){
    .LoginModuleContainer{
        grid-column: 4/18;
    }
}
@media only screen and (min-width:360px){
    .LoginModuleContainer{
        grid-column: 3/19;
    }
}
@media only screen and (min-width:768px){
    .LoginModuleContainer h2{
        font-size: 3em;
    }
    .LoginModuleContainer p{
        font-size: 2em;
    }
    .LoginModuleContainer button{
        font-size: 2em;
    }
}
@media only screen and (min-width:1025px){
    .LoginModuleContainer{
        grid-row: 4/10;
        grid-column: 8/14;
    }
    .LoginModuleContainer h2{
        font-size: 2.5em;
    }
    .LoginModuleContainer p{
        font-size: 1.5em;
    }
    .LoginModuleContainer button{
        font-size: 1.5em;
    }
}