.UserLoginContainer{
    grid-row: 12/17;
    grid-column: 8/14;
    border: 1px solid whitesmoke;
    border-radius: 5px;
    background-color: rgba(35, 35, 35, 0.9);
}

.FormContainer{
    display: flex;
    flex-direction: column;
    text-align: center;
}
.FormContainer h2,.FormContainer p{
    color: white;
}
.FormContainer *{
    margin: auto;
    margin-bottom: 1em;
}
.FormContainer input{
    width: fit-content;
    text-align: center;
}
.FormContainer input:first-of-type{
    margin-bottom: 0;
}
.FormContainer button{
    width: fit-content;
    padding: 0.25em 0.50em;
    background-color: #4682b4;
    border-radius: 5px;
}
.FormContainer p{
    color: red;
}

@media only screen and (min-width:320px){
    .UserLoginContainer{
        grid-column: 3/19;
        grid-row: 12/19;
    }
}
@media only screen and (min-width:360px){
    .UserLoginContainer{
        grid-row: 12/18;
    }
}
@media only screen and (min-width:411px){
    .UserLoginContainer{
        grid-row: 12/18;
    }
}
@media only screen and (min-width:768px){
    .UserLoginContainer{
        font-size: 1.2em;
    }
    .FormContainer input{
        font-size: 1em;
    }
    .FormContainer button{
        font-size: 2em;
    }
}
@media only screen and (min-width:1024px){
    .UserLoginContainer{
        font-size: 1.5em;
    }
    .FormContainer input{
        font-size: 1.1em;
    }
}
@media only screen and (min-width:1025px){
    .UserLoginContainer{
        grid-row: 12/17;
        grid-column: 8/14;
        font-size: 1em;
    }
}